<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div>
    <form method="post" action="add">
        <input name="text" type="text" placeholder="Введите сообщение">
        <input name="tag" type="text" placeholder="Тэг">
        <button type="submit">"Добавить"</button>
    </form>
</div>
<div>
    <form method="post" action="filter">
        <input name="tag" tyte="text" placeholder="Тэг для поиска">
        <button type="submit">"Найти"</button>
    </form>
</div>
<div>Список сообщений</div>
{{#messages}}
<div>
    <b>{{id}}</b>
    <span>{{text}}</span>
    <i>{{tag}}</i>
    <b>{{author}}</b>
</div>
{{/messages}}
</body>
</html>